mixin box(args)
  .box
    .title(ui-sref=args.link)= args.title
    .number(ng-class='{empty:!' + args.list + '.total}')= '{{' + args.list + '.total}}'
    .issue(ng-repeat='issue in ' + args.list + '.items', ui-sref='issue({_id:issue._id})')
      .icn-house
      .details
        .address {{issue.address}}
        .issue-title {{issue.title}}
    pagination(ng-model=args.list + '.args.page', total=args.list + '.total', page-size=args.list + '.args.pageSize')
.dashboard-route(ng-show='auth.getUser()')
  h1 dashboard
  .heading Overview of Maintenance Issues
  .boxes
    +box({title:'Today\'s Maintenance Issues',list:'maintenanceToday',link:'issues'})
    +box({title:'Outstanding Maintenance Issues',list:'maintenanceOutstanding',link:'issues'})
    +box({title:'Outstanding Works Orders',list:'worksOutstanding',link:'worksorders'})